
.google
  - form_for(@session, :url => session_path, :html => {:method => :post}) do |f|
    = hidden_field_tag "session[openid_provider]", "google"
    %p= f.submit "Signin with Google Account"
  %p.hint si tu utilises GMail ou que tu as un compte Google
.yahoo
  - form_for(@session, :url => session_path, :html => {:method => :post}) do |f|
    = hidden_field_tag "session[openid_provider]", "yahoo"
    %p= f.submit "Signin with Yahoo! Id"
  %p.hint si tu utilises Yahoo Mail ou que tu as un compte Yahoo! Id

.openid
  - form_for(@session, :url => session_path, :html => {:method => :post}) do |f|
    %p
      = f.label :openid_url, "OpenID Url"
      = f.text_field :openid_url
    %p= f.submit "Login with OpenID"
  %p.hint pour les autres (le plus simple c'est de se créer un compte Google et Yahoo et d'utiliser les boutons précédents !).
