
.last_albums.albums_group
  %h3
    les derniers albums importés:
  %ul.test
    - @last_albums.each do |album|
      %li
        = album_div(album)
.preferred_albums
  %h3
    Albums préférés:
  %ul
    - User.all.each do |user|
      - albums = user.last_preferred_albums
      - unless albums.empty?
        %li
          .albums_group
            =h(user.nickname)
            %ul
              - albums.each do |album|
                %li
                  = album_div(album)

.search
  %h3
    Chercher un album
  - form_tag albums_path, :method => :get do
    = text_field_tag :q
    = submit_tag "Rechercher"
  

%p
  = link_to "liste (très moche) des albums", albums_path
%p
  = link_to "ajouter des fichiers", new_track_path

