.search
  Chercher un album
  - form_tag albums_path, :method => :get do
    = text_field_tag :q
    = submit_tag "Rechercher"


%p= link_to "liste (très moche) des albums", albums_path
%p= link_to "ajouter des fichiers", new_track_path

%ul.two_cols
  %li.left_col
    .randomly
      %h3 Albums choisis aléatoirement:
      .albums_group=render :partial => "albums/randomly"
    .last_albums
      %h3 les derniers albums importés:
      .albums_group=render :partial => "albums/paginated", :locals => {:albums => @last_albums, :page => @last_albums.current_page, :albums_params => {:last => true}}

    .preferred_albums
      %h3
        Albums préférés:
      %ul
        - User.all.each do |user|
          %li
            %p.nickname=h(user.nickname)
            - votes = user.last_votes
            - unless votes.empty?
              .albums_group
                = render :partial => "albums/paginated", :locals => {:albums => votes.map(&:album), :page => votes.current_page, :albums_params => {:user_id => user.id, :preferred => true}}
            - last_uploaded = user.last_uploaded_albums
            - unless last_uploaded.empty?
              .albums_group
                = render :partial => "albums/paginated", :locals => {:albums => last_uploaded, :page => last_uploaded.current_page, :albums_params => {:user_id => user.id, :last => true}}

  %li.right_col
    .last_comments.last_thing
      %h3 derniers commentaires :
      %ul
        - @last_comments.each do |user_comment|
          %li
            .main_info
              %p.cover
                = cover_img_tag(user_comment.album, 20)
              %p.author
                = user_comment.comment.author.nickname
            .more_info
              %p.album_name
                = user_comment.album && link_to(user_comment.album.name, album_path(user_comment.album))
              %p.comment
                = user_comment.comment.body

    .last_listenings.last_thing
      %h3 dernières écoutes :
      %ul
        - @last_listenings.each do |track_listening|
          %li
            .main_info
              %p.cover
                = cover_img_tag(track_listening.album, 20)
              %p.author
                = track_listening.user && track_listening.user.nickname
            .more_info
              %p.album_name
                = track_listening.album && link_to(track_listening.album.name, album_path(track_listening.album))
              %p.title
                = track_listening.track && track_listening.track.title

  %li.clear

