.votes

  %ul
    %li.lovers
      %h4= pluralize(@album.lovers.length, "fan")
      %ul
        - @album.lovers.each do |account|
          %li
            =h(account.nickname)
        - unless @album.lovers.include?(current_user)
          %li.me
            - form_for :vote, :url => like_album_path(@album) do |f|
              = f.submit "I like it !"
    %li.haters
      %h4= pluralize(@album.haters.length, "anti")
      %ul
        - @album.haters.each do |account|
          %li
            = h(account.nickname)
        - unless @album.haters.include?(current_user)
          %li.me
            - form_for :vote, :url => hate_album_path(@album) do |f|
              = f.submit "I hate it !"

    %li.destroy
      %h4 x
      - form_for :vote, :url => destroy_vote_album_path(@album), :html => {:method => :delete} do |f|
        = f.submit "remove my vote"