- form_for(@album) do |f|
  - [:artist, :name, :amazon_asin, :musicbrainz_release_id].each do |attribute_name|
    %p{:class => attribute_name}
      = f.label attribute_name
      = f.text_field attribute_name

  = f.submit "Save"

= link_to "MusicBrainz search", "http://musicbrainz.org/search/textsearch.html?#{@album.musicbrainz_query.to_param}"
