- if @albums.total_pages > 1
  %p.pagination
    - (1..@albums.total_pages).each do |page|
      - if page == @albums.current_page
        %span.current
          = page
      - else
        = link_to page, albums_path(:page => page)

%ul.albums
  - @albums.each do |album|
    %li
      .cover
        = cover_img_tag(album)
      %span.artist
        =h album.artist
      %span.name
        =link_to  h(album.name), album_path(album)
      / %ul.tracks
      /   = render :partial => "tracks/track", :collection => album.tracks

- if @albums.total_pages > 1
  %p.pagination
    - (1..@albums.total_pages).each do |page|
      - if page == @albums.current_page
        %span.current
          = page
      - else
        = link_to page, albums_path(:page => page)
