#player

.album
  %span.artist
    =h @album.artist
  %span.album_name
    =h @album.name

  .tracks.playable
    %h3= pluralize(@album.tracks.count, "morceau", "morceaux")
    %ul
      = render :partial => "tracks/track.html", :collection => @album.tracks.map{|r| r}

  = javascript_tag "tracks = #{MongoEmbeddedRecord.json_encoder(@album.tracks.map(&:attributes)).to_json};"

  - if current_user.admin?
    %p.edit
      = link_to :edit, edit_album_path(@album)

  %ul.links
    - if !@album.musicbrainz_release_id.blank?
      %li.musicbrainz
        = link_to "MusicBrainz.org", "http://musicbrainz.org/release/#{@album.musicbrainz_release_id}.html"
    - elsif current_user.admin?
      %li.musicbrainz.find
        = link_to "Find MusicBrainz Releases", mb_releases_album_path(@album)

    - if !@album.amazon_asin.blank?
      %li.amazon{:class => "asin_#{@album.amazon_asin}"}
        = link_to "Amazon", "http://www.amazon.fr/gp/product/#{@album.amazon_asin}"

  = render :partial => "votes.html"

  = render :partial => "comments.html"

  = render :partial => "lists.html"
