#player

.album
  %span.artist
    =h @album.artist
  %span.album_name
    =h @album.name

  .tracks.playable
    %ul
      = render :partial => "tracks/track", :collection => @album.tracks

  = javascript_tag "var tracks = #{@album.tracks.to_json};"

  = render :partial => "votes"

  = render :partial => "comments"
