!!!

%html
  %head
    %title
      Music

    = javascript_include_tag "jquery-1.3.2.min.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"

  %body
    .header
      - if current_user
        .nickname
          = h(current_user.nickname)
        .logout
          - form_for(:session, :url => session_path, :html => {:method => :delete}) do |f|
            = f.submit 'logout'

    #content
      - if controller_name != "home"
        %p
          = link_to "player", root_path
      = yield
